/*====================
    VARIABLES
====================*/
// cp - color primary
// cs - color secondary
// ca - color accent

$cp-limeGreen: hsl(163, 72%, 41%);
$cp-brightRed: hsl(356, 69%, 56%);

$cs-facebook: hsl(208, 92%, 53%);
$cs-twitter: hsl(203, 89%, 53%);
$cs-instagram: linear-gradient(to right, hsl(37, 97%, 70%),hsl(329, 70%, 58%));
$cs-youtube: hsl(348, 97%, 39%);

$font-lg: 2.0rem;
$font-md: 1.4rem;
$font-sm: 1.2rem;
/*====================
    END VARIABLES
====================*/

/*====================
    STYLES
====================*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: $font-md;
  font-weight: 400;
  box-sizing: border-box;

  line-height: 1.4;
  letter-spacing: 0.5px;

  &[data-theme="dark"] {
    --cp-mainBg: hsl(230, 17%, 14%);
    --cp-topBg: hsl(232, 19%, 15%);
    --cp-cardBg: hsl(228, 28%, 20%);
    --cp-title: hsl(0, 0%, 100%);
    --cp-subtitle: hsl(228, 34%, 66%);
    --cp-theme: linear-gradient(to right, hsl(210, 78%, 56%),hsl(146, 68%, 55%));
  }

  &[data-theme="light"] {
    --cp-mainBg: hsl(0, 0%, 100%);
    --cp-topBg: hsl(225, 100%, 98%);
    --cp-cardBg: hsl(227, 47%, 96%);
    --cp-title: hsl(230, 17%, 14%);
    --cp-subtitle: hsl(228, 12%, 44%);
    --cp-theme: hsl(230, 22%, 74%);
  }

  // background: var(--cp-mainBg);
  background: linear-gradient(to bottom, var(--cp-topBg) 10%, var(--cp-mainBg) 10%, var(--cp-mainBg) 100%);
  color: var(--cp-title);

  @media (min-width: 768px) {
    background: linear-gradient(to bottom, var(--cp-topBg) 30%, var(--cp-mainBg) 30%, var(--cp-mainBg) 100%);
  }
}

.container {
  padding: 2rem;

  @media (min-width: 768px) {
    padding: 4rem 10rem;
  }

  @media (min-width: 1024px) {
    padding: 4rem 15rem;
  }
}
#header {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;

  .header {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--cp-subtitle);
  }

  @media (min-width: 600px) {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    .header {
      border-bottom: unset;
    }
  }
}

.header {
  &__title {
    font-size: 2.4rem;
  }
  &__followers { 
    font-weight: 700;
    color: var(--cp-subtitle);
  }
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  @media (min-width: 600px) {
    justify-content: unset;
  }

  &__title {
    font-weight: 700;
    color: var(--cp-subtitle);
  }

  &__switch {
    display: inline-block;
    padding: 0 3px;
    width: 5rem;
    height: 2.6rem;
    border-radius: 10rem;
    position: relative;
    cursor: pointer;
    background: var(--cp-theme);
    margin-left: 1.2rem;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      opacity: 0.8;
    }

    &--checkbox {
      position: absolute;
      clip: rect(0,0,0,0);
  
      & + .toggle__button{
        &::before{
          content: '';
          position: absolute;
          width: 2rem;
          height: 2rem;
          background: var(--cp-topBg);
          border-radius: 50%;
          transition: all .2s ease-in-out;
          margin-left: 2.35rem;
          top: 50%;
          transform: translateY(-50%);
        }
      }
  
       &:checked + .toggle__button {
        &::before {
          margin-left: 0;
        }
      }
    }
  }
}

#social {
  display: flex;
  gap: 2rem;
  margin: 3rem 0;
  flex-wrap: wrap;

  @media (min-width: 600px) {
    gap: 3rem;
    margin: 4rem 0;
  }
}

#overview {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 4rem 0;

  @media (min-width: 600px) {
    gap: 3rem;
  }

  .overview--title {
    flex: 100%;
    font-size: 2.4rem;
  }

  .card {
    flex: 100%;
    padding: 2rem;

    @media (min-width: 600px) {
      flex: 40%;
    }
    @media (min-width: 1200px) {
      flex: 20%;
    }
    
    &--foot {
      align-self: flex-end;
      margin-bottom: 5px;

      &::after {
        content: "%";
      }
    }
  }
}

.card {
  position: relative;
  flex: 100%;

  padding: 3rem;
  text-align: center;

  background: var(--cp-cardBg);
  border-radius: .5rem;
  overflow: hidden;

  @media (min-width: 600px) {
    flex: 40%;
  }
  @media (min-width: 1200px) {
    flex: 1;
  }


  &::before {
    content: "";
    position: absolute;
    top: 0;
    height: 5px;
    width: 100%;
    left: 0;
  }

  &.facebook::before { background: $cs-facebook; }
  &.twitter::before { background: $cs-twitter; }
  &.instagram::before { background: $cs-instagram; }
  &.youtube::before { background: $cs-youtube; }

  &__user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    font-size: $font-sm;
    color: var(--cp-subtitle);
  }

  &__stat {
    margin: 2rem 0;

    &--title { 
      font-size: 5rem;
      line-height: 1.2;
    }

    &--subtitle {
      font-size: $font-sm;
      color: var(--cp-subtitle);
      text-transform: uppercase;
      letter-spacing: 0.5rem;
    }
  }

  &--foot {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: $font-sm;
    font-weight: 700;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    &--title {
      font-weight: 700;
      color: var(--cp-subtitle);
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;

    margin-top: 2rem;

    &--title {
      font-size: 2.8rem;
    }
  }
}

.up, .down {
  &::before {
    content: "";
    width: 0; 
    height: 0;
    margin-right: 6px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
}

.up { 
  color: $cp-limeGreen;

  &::before {
    border-bottom: 5px solid currentColor;
  }
}

.down {
  color: $cp-brightRed;

  &::before {
    border-top: 5px solid currentColor;
  }
}